.docs-theme-dark {
  /* Palettes */
  --docs-color-primary-50: var(--docs-color-green-50);
  --docs-color-primary-100: var(--docs-color-green-100);
  --docs-color-primary-200: var(--docs-color-green-200);
  --docs-color-primary-300: var(--docs-color-green-300);
  --docs-color-primary-400: var(--docs-color-green-400);
  --docs-color-primary-500: var(--docs-color-green-500);
  --docs-color-primary-600: var(--docs-color-green-600);
  --docs-color-primary-700: var(--docs-color-green-700);
  --docs-color-primary-800: var(--docs-color-green-800);
  --docs-color-primary-900: var(--docs-color-green-900);
  --docs-color-primary-950: var(--docs-color-green-950);

  --docs-color-neutral-50: var(--docs-color-gray-50);
  --docs-color-neutral-100: var(--docs-color-gray-100);
  --docs-color-neutral-200: var(--docs-color-gray-200);
  --docs-color-neutral-300: var(--docs-color-gray-300);
  --docs-color-neutral-400: var(--docs-color-gray-400);
  --docs-color-neutral-500: var(--docs-color-gray-500);
  --docs-color-neutral-600: var(--docs-color-gray-600);
  --docs-color-neutral-700: var(--docs-color-gray-700);
  --docs-color-neutral-800: var(--docs-color-gray-800);
  --docs-color-neutral-900: var(--docs-color-gray-900);
  --docs-color-neutral-950: var(--docs-color-gray-950);
  --docs-color-neutral-0: var(--docs-color-neutral-50);
  --docs-color-neutral-1000: white;

  --docs-color-warning-50: var(--docs-color-amber-50);
  --docs-color-warning-100: var(--docs-color-amber-100);
  --docs-color-warning-200: var(--docs-color-amber-200);
  --docs-color-warning-300: var(--docs-color-amber-300);
  --docs-color-warning-400: var(--docs-color-amber-400);
  --docs-color-warning-500: var(--docs-color-amber-500);
  --docs-color-warning-600: var(--docs-color-amber-600);
  --docs-color-warning-700: var(--docs-color-amber-700);
  --docs-color-warning-800: var(--docs-color-amber-800);
  --docs-color-warning-900: var(--docs-color-amber-900);
  --docs-color-warning-950: var(--docs-color-amber-950);

  --docs-color-danger-50: var(--docs-color-red-50);
  --docs-color-danger-100: var(--docs-color-red-100);
  --docs-color-danger-200: var(--docs-color-red-200);
  --docs-color-danger-300: var(--docs-color-red-300);
  --docs-color-danger-400: var(--docs-color-red-400);
  --docs-color-danger-500: var(--docs-color-red-500);
  --docs-color-danger-600: var(--docs-color-red-600);
  --docs-color-danger-700: var(--docs-color-red-700);
  --docs-color-danger-800: var(--docs-color-red-800);
  --docs-color-danger-900: var(--docs-color-red-900);
  --docs-color-danger-950: var(--docs-color-red-950);

  /* Gray */
  --docs-color-gray-50: hsl(240 5.1% 15%);
  --docs-color-gray-100: hsl(240 5.7% 18.2%);
  --docs-color-gray-200: hsl(240 4.6% 22%);
  --docs-color-gray-300: hsl(240 5% 27.6%);
  --docs-color-gray-400: hsl(240 5% 35.5%);
  --docs-color-gray-500: hsl(240 3.7% 44%);
  --docs-color-gray-600: hsl(240 5.3% 58%);
  --docs-color-gray-700: hsl(240 5.6% 73%);
  --docs-color-gray-800: hsl(240 7.3% 84%);
  --docs-color-gray-900: hsl(240 9.1% 91.8%);
  --docs-color-gray-950: hsl(0 0% 95%);

  /* Red */
  --docs-color-red-50: hsl(0 56% 23.9%);
  --docs-color-red-100: hsl(0.6 60% 33.9%);
  --docs-color-red-200: hsl(0.9 67.2% 37.1%);
  --docs-color-red-300: hsl(1.1 71.3% 43.7%);
  --docs-color-red-400: hsl(1 76% 52.5%);
  --docs-color-red-500: hsl(0.7 89.6% 57.2%);
  --docs-color-red-600: hsl(0 98.6% 67.9%);
  --docs-color-red-700: hsl(0 100% 72.3%);
  --docs-color-red-800: hsl(0 100% 85.6%);
  --docs-color-red-900: hsl(0 100% 90.3%);
  --docs-color-red-950: hsl(0 100% 95.9%);

  /* Orange */
  --docs-color-orange-50: hsl(15 64.2% 23.3%);
  --docs-color-orange-100: hsl(15.1 70.9% 31.1%);
  --docs-color-orange-200: hsl(15.3 75.7% 35.5%);
  --docs-color-orange-300: hsl(17.1 83.5% 42.7%);
  --docs-color-orange-400: hsl(20.1 88% 50.8%);
  --docs-color-orange-500: hsl(24.3 100% 50.5%);
  --docs-color-orange-600: hsl(27.2 100% 57.7%);
  --docs-color-orange-700: hsl(31.3 100% 68.7%);
  --docs-color-orange-800: hsl(33.8 100% 79.3%);
  --docs-color-orange-900: hsl(38.9 100% 87.7%);
  --docs-color-orange-950: hsl(46.2 100% 95%);

  /* Amber */
  --docs-color-amber-50: hsl(21.9 66.3% 21.1%);
  --docs-color-amber-100: hsl(21.5 73.6% 29.7%);
  --docs-color-amber-200: hsl(22.3 77.6% 33.3%);
  --docs-color-amber-300: hsl(25.4 84.2% 39.6%);
  --docs-color-amber-400: hsl(31.4 87.4% 46.7%);
  --docs-color-amber-500: hsl(37 96.6% 48.3%);
  --docs-color-amber-600: hsl(43.3 100% 53.4%);
  --docs-color-amber-700: hsl(46.5 100% 61.1%);
  --docs-color-amber-800: hsl(49.3 100% 73%);
  --docs-color-amber-900: hsl(51.8 100% 85%);
  --docs-color-amber-950: hsl(60 100% 94.6%);

  /* Yellow */
  --docs-color-yellow-50: hsl(32.5 60% 18.2%);
  --docs-color-yellow-100: hsl(28.1 68.6% 29%);
  --docs-color-yellow-200: hsl(31.3 75.8% 30.8%);
  --docs-color-yellow-300: hsl(34.7 84.4% 35.3%);
  --docs-color-yellow-400: hsl(40.1 87.3% 43.3%);
  --docs-color-yellow-500: hsl(44.7 88% 46%);
  --docs-color-yellow-600: hsl(47.7 100% 50.9%);
  --docs-color-yellow-700: hsl(51.3 100% 59.9%);
  --docs-color-yellow-800: hsl(54.6 100% 73%);
  --docs-color-yellow-900: hsl(58.9 100% 84.2%);
  --docs-color-yellow-950: hsl(60 100% 94%);

  /* Lime */
  --docs-color-lime-50: hsl(86.5 54.4% 18%);
  --docs-color-lime-100: hsl(87.6 56.8% 23.3%);
  --docs-color-lime-200: hsl(85.8 63.2% 24.5%);
  --docs-color-lime-300: hsl(86.1 72% 29.4%);
  --docs-color-lime-400: hsl(85.5 76.8% 37.3%);
  --docs-color-lime-500: hsl(84.3 74.2% 42.1%);
  --docs-color-lime-600: hsl(82.8 81.5% 52.6%);
  --docs-color-lime-700: hsl(82 89.9% 64%);
  --docs-color-lime-800: hsl(80.9 97.9% 76.6%);
  --docs-color-lime-900: hsl(77.9 100% 85.8%);
  --docs-color-lime-950: hsl(69.5 100% 93.8%);

  /* Green */
  --docs-color-green-50: hsl(144.3 53.6% 16%);
  --docs-color-green-100: hsl(143.2 55.4% 23.5%);
  --docs-color-green-200: hsl(141.5 58.2% 26.3%);
  --docs-color-green-300: hsl(140.8 64.2% 31.8%);
  --docs-color-green-400: hsl(140.3 68% 39.2%);
  --docs-color-green-500: hsl(141.1 64.9% 43%);
  --docs-color-green-600: hsl(141.6 72.4% 55.2%);
  --docs-color-green-700: hsl(141.7 82.7% 70.1%);
  --docs-color-green-800: hsl(141 90.9% 82.1%);
  --docs-color-green-900: hsl(142 100% 89.1%);
  --docs-color-green-950: hsl(144 100% 95.5%);

  /* Emerald */
  --docs-color-emerald-50: hsl(164.3 75% 13.5%);
  --docs-color-emerald-100: hsl(163.5 72.6% 20.1%);
  --docs-color-emerald-200: hsl(162.1 73.7% 22.4%);
  --docs-color-emerald-300: hsl(161.3 77.3% 27.6%);
  --docs-color-emerald-400: hsl(159.6 77.1% 34.3%);
  --docs-color-emerald-500: hsl(159.1 73.5% 37.9%);
  --docs-color-emerald-600: hsl(157.8 66.8% 48.9%);
  --docs-color-emerald-700: hsl(156.2 76.1% 63.8%);
  --docs-color-emerald-800: hsl(152.4 84.4% 77.4%);
  --docs-color-emerald-900: hsl(149.3 100% 87%);
  --docs-color-emerald-950: hsl(158.6 100% 94.8%);

  /* Teal */
  --docs-color-teal-50: hsl(176.5 51.5% 15.4%);
  --docs-color-teal-100: hsl(175.9 54.7% 22.3%);
  --docs-color-teal-200: hsl(175.9 60.7% 23.9%);
  --docs-color-teal-300: hsl(174.5 67.3% 28.8%);
  --docs-color-teal-400: hsl(174.4 71.9% 34.9%);
  --docs-color-teal-500: hsl(173.1 71% 38.3%);
  --docs-color-teal-600: hsl(172.3 68.2% 48.1%);
  --docs-color-teal-700: hsl(170.5 81.3% 61.5%);
  --docs-color-teal-800: hsl(168.4 92.1% 75.2%);
  --docs-color-teal-900: hsl(168.3 100% 86%);
  --docs-color-teal-950: hsl(180 100% 95.5%);

  /* Cyan */
  --docs-color-cyan-50: hsl(197.1 53.8% 20.3%);
  --docs-color-cyan-100: hsl(196.8 57.3% 27.2%);
  --docs-color-cyan-200: hsl(195.3 62.7% 29.4%);
  --docs-color-cyan-300: hsl(193.5 71.3% 34.1%);
  --docs-color-cyan-400: hsl(192.5 76.8% 40.6%);
  --docs-color-cyan-500: hsl(189.4 78.6% 42.6%);
  --docs-color-cyan-600: hsl(188.2 89.1% 51.7%);
  --docs-color-cyan-700: hsl(187 98.6% 66.2%);
  --docs-color-cyan-800: hsl(184.9 100% 78.3%);
  --docs-color-cyan-900: hsl(180 100% 86.6%);
  --docs-color-cyan-950: hsl(180 100% 94.8%);

  /* Sky */
  --docs-color-sky-50: hsl(203 63.8% 20.9%);
  --docs-color-sky-100: hsl(203.4 70.4% 28%);
  --docs-color-sky-200: hsl(202.7 75.8% 30.8%);
  --docs-color-sky-300: hsl(203.1 80.4% 36.1%);
  --docs-color-sky-400: hsl(202.1 80.5% 44.3%);
  --docs-color-sky-500: hsl(199.7 85.9% 47.7%);
  --docs-color-sky-600: hsl(198.7 97.9% 57.2%);
  --docs-color-sky-700: hsl(198.7 100% 70.5%);
  --docs-color-sky-800: hsl(198.8 100% 82.5%);
  --docs-color-sky-900: hsl(198.5 100% 89.9%);
  --docs-color-sky-950: hsl(186 100% 95.5%);

  /* Blue */
  --docs-color-blue-50: hsl(227.1 49.5% 22.7%);
  --docs-color-blue-100: hsl(225.8 58.9% 36.8%);
  --docs-color-blue-200: hsl(227.7 64.4% 42.9%);
  --docs-color-blue-300: hsl(226.1 72.7% 51.2%);
  --docs-color-blue-400: hsl(222.6 86.5% 56.3%);
  --docs-color-blue-500: hsl(217.8 95.8% 57.4%);
  --docs-color-blue-600: hsl(213.3 100% 65%);
  --docs-color-blue-700: hsl(210.9 100% 74.8%);
  --docs-color-blue-800: hsl(211.5 100% 83.4%);
  --docs-color-blue-900: hsl(211 100% 88.9%);
  --docs-color-blue-950: hsl(201.8 100% 95.3%);

  /* Indigo */
  --docs-color-indigo-50: hsl(243.5 40.8% 27%);
  --docs-color-indigo-100: hsl(242.9 45.7% 37.6%);
  --docs-color-indigo-200: hsl(244.7 52.7% 43.1%);
  --docs-color-indigo-300: hsl(245.3 60.5% 52.4%);
  --docs-color-indigo-400: hsl(244.1 79.2% 60.4%);
  --docs-color-indigo-500: hsl(239.6 88.7% 63.8%);
  --docs-color-indigo-600: hsl(234.5 96.7% 70.9%);
  --docs-color-indigo-700: hsl(229.4 100% 78.3%);
  --docs-color-indigo-800: hsl(227.1 100% 85%);
  --docs-color-indigo-900: hsl(223.8 100% 89.9%);
  --docs-color-indigo-950: hsl(220 100% 95.1%);

  /* Violet */
  --docs-color-violet-50: hsl(265.1 57.3% 25.4%);
  --docs-color-violet-100: hsl(263.5 63.8% 39.4%);
  --docs-color-violet-200: hsl(263.4 66.2% 44.1%);
  --docs-color-violet-300: hsl(263.7 72.8% 52.4%);
  --docs-color-violet-400: hsl(262.5 87.3% 59.8%);
  --docs-color-violet-500: hsl(258.3 95.1% 63.2%);
  --docs-color-violet-600: hsl(255.1 100% 67.2%);
  --docs-color-violet-700: hsl(253 100% 81.5%);
  --docs-color-violet-800: hsl(251.7 100% 87.9%);
  --docs-color-violet-900: hsl(254.1 100% 91.7%);
  --docs-color-violet-950: hsl(257.1 100% 96.1%);

  /* Purple */
  --docs-color-purple-50: hsl(276 54.3% 20.5%);
  --docs-color-purple-100: hsl(273.6 61.8% 35.4%);
  --docs-color-purple-200: hsl(272.9 64% 41.4%);
  --docs-color-purple-300: hsl(271.9 68.1% 49.2%);
  --docs-color-purple-400: hsl(271.5 85.1% 57.8%);
  --docs-color-purple-500: hsl(270.7 96.4% 62.1%);
  --docs-color-purple-600: hsl(270.5 100% 71.9%);
  --docs-color-purple-700: hsl(270.9 100% 81.3%);
  --docs-color-purple-800: hsl(272.4 100% 87.7%);
  --docs-color-purple-900: hsl(276.7 100% 91.5%);
  --docs-color-purple-950: hsl(300 100% 96.5%);

  /* Fuchsia */

  --docs-color-fuchsia-50: hsl(297.1 51.2% 18.6%);
  --docs-color-fuchsia-100: hsl(296.7 59.5% 31.5%);
  --docs-color-fuchsia-200: hsl(295.4 65.4% 35.1%);
  --docs-color-fuchsia-300: hsl(294.6 67.4% 42.2%);
  --docs-color-fuchsia-400: hsl(293.3 68.7% 51.2%);
  --docs-color-fuchsia-500: hsl(292.1 88.4% 57.7%);
  --docs-color-fuchsia-600: hsl(292 98.5% 59.5%);
  --docs-color-fuchsia-700: hsl(292.4 100% 79.5%);
  --docs-color-fuchsia-800: hsl(292.9 100% 86.8%);
  --docs-color-fuchsia-900: hsl(300 100% 91.5%);
  --docs-color-fuchsia-950: hsl(300 100% 96.3%);

  /* Pink */
  --docs-color-pink-50: hsl(336.2 59.6% 20%);
  --docs-color-pink-100: hsl(336.8 63.9% 34%);
  --docs-color-pink-200: hsl(336.8 68.7% 37.6%);
  --docs-color-pink-300: hsl(336.1 71.8% 44.5%);
  --docs-color-pink-400: hsl(333.9 74.9% 53.1%);
  --docs-color-pink-500: hsl(330.7 86.3% 57.7%);
  --docs-color-pink-600: hsl(328.6 91.5% 67.2%);
  --docs-color-pink-700: hsl(327.4 97.6% 78.7%);
  --docs-color-pink-800: hsl(325.1 100% 86.6%);
  --docs-color-pink-900: hsl(322.1 100% 91.3%);
  --docs-color-pink-950: hsl(315 100% 95.9%);

  /* Rose */
  --docs-color-rose-50: hsl(342.3 62.9% 21.5%);
  --docs-color-rose-100: hsl(342.8 68.9% 34.2%);
  --docs-color-rose-200: hsl(344.8 72.6% 37.3%);
  --docs-color-rose-300: hsl(346.9 75.8% 43.7%);
  --docs-color-rose-400: hsl(348.2 80.1% 52.7%);
  --docs-color-rose-500: hsl(350.4 94.8% 57.5%);
  --docs-color-rose-600: hsl(351.2 100% 58.1%);
  --docs-color-rose-700: hsl(352.3 100% 78.1%);
  --docs-color-rose-800: hsl(352 100% 86.2%);
  --docs-color-rose-900: hsl(354.5 100% 90.7%);
  --docs-color-rose-950: hsl(353.3 100% 95.7%);
}
