@import 'light.css';
@import 'dark.css';

:root {
  --docs-font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --docs-font-serif: Georgia, serif;
  --docs-font-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
  --docs-body-background-color: var(--docs-color-neutral-0);
  --docs-body-color: var(--docs-color-neutral-1000);
  --docs-body-font: var(--docs-font-sans-serif);
  --docs-body-font-size: 16px;
  --docs-body-line-height: 1.5;
  --docs-font-weight-normal: 400;
  --docs-font-weight-semibold: 500;
  --docs-font-weight-bold: 700;
  --docs-heading-font: var(--docs-body-font);
  --docs-border-color: var(--docs-color-neutral-200);
  --docs-border-width: 1px;
  --docs-border-radius: 4px;
  --docs-content-max-width: 860px;
  --docs-focus-ring-offset: 1px;
  --docs-focus-ring: solid 3px var(--docs-color-primary-700);
  --docs-sidebar-width: 300px;
  --docs-content-padding: 2rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: var(--docs-focus-ring);
  outline-offset: var(--docs-focus-ring-offset);
}

::selection {
  background-color: var(--docs-color-primary-300);
  /* color: var(--docs-color-neutral-1000); */
}

html {
  height: 100%;
  box-sizing: border-box;
  line-height: var(--docs-body-line-height);
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font: var(--docs-body-font-size) var(--docs-body-font);
  font-weight: var(--docs-font-weight-normal);
  background-color: var(--docs-body-background-color);
  line-height: var(--docs-body-line-height);
  color: var(--docs-body-color);
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Common elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--docs-heading-font);
  margin: 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 1.5rem;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0.5rem;
}

article h1 {
  font-size: 2rem;
}

p {
  margin-bottom: 1.5rem;
}

img {
  display: block;
  width: calc(100% + (var(--docs-content-padding) * 2));
  height: auto;
  margin: 0 calc(-1 * var(--docs-content-padding)) 1.5rem calc(-1 * var(--docs-content-padding));
}

a {
  color: var(--docs-color-primary-700);
  text-decoration: none;
}

a:hover {
  color: var(--docs-color-primary-700);
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--docs-font-weight-bold);
}

code {
  font-family: var(--docs-font-mono);
  background-color: rgba(0 0 0 / 0.05);
  background-blend-mode: darken;
  border-radius: var(--docs-border-radius) 0 var(--docs-border-radius) 0;
  padding: 0.125em 0.25em;
}

.docs-theme-dark code {
  background-color: rgba(255 255 255 / 0.05);
}

kbd {
  background: var(--docs-color-neutral-100);
  border: solid 1px var(--docs-color-neutral-200);
  box-shadow: inset 0 1px 0 0 var(--docs-color-neutral-0);
  font-family: var(--docs-font-mono);
  border-radius: var(--docs-border-radius) 0 var(--docs-border-radius) 0;
  color: var(--docs-color-neutral-700);
  padding: 0.125em 0.25em;
}

ins {
  background-color: var(--docs-color-green-200);
  color: var(--docs-color-green-900);
  border-radius: var(--docs-border-radius) 0 var(--docs-border-radius) 0;
  text-decoration: none;
  padding: 0.125em 0.25em;
}

s {
  background-color: var(--docs-color-red-200);
  color: var(--docs-color-red-900);
  border-radius: var(--docs-border-radius) 0 var(--docs-border-radius) 0;
  text-decoration: none;
  padding: 0.125em 0.25em;
}

mark {
  background-color: var(--docs-color-yellow-200);
  color: var(--docs-color-neutral-1000);
  border-radius: var(--docs-border-radius) 0 var(--docs-border-radius) 0;
  padding: 0.125em 0.25em;
}

/* Blockquotes */
blockquote {
  font-family: var(--docs-font-serif);
  font-size: 1.25rem;
  font-style: italic;
  background-color: var(--docs-color-neutral-100);
  border-radius: var(--docs-border-radius);
  padding: 1.5rem;
  margin: 0 calc(-1 * var(--docs-content-padding)) 1.5rem calc(-1 * var(--docs-content-padding));
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1230px) {
  blockquote {
    border-radius: 0;
  }
}

/* Lists */
ul,
ol {
  padding: 0;
  margin: 0 0 1.5rem 1rem;
}

ul {
  list-style: disc;
}

li {
  padding: 0;
  margin: 0 0 0.25rem 0;
}

li ul,
li ol {
  margin-top: 0.25rem;
}

ul ul:last-child,
ul ol:last-child,
ol ul:last-child,
ol ol:last-child {
  margin-bottom: 0;
}

/* Anchor headings */
.anchor-heading {
  position: relative;
  color: inherit;
}

.anchor-heading:hover {
  text-decoration: none;
}

.anchor-heading::before {
  display: none;
  position: absolute;
  content: '#';
  left: -1em;
  color: var(--docs-color-neutral-400);
  font-weight: normal;
}

.anchor-heading:hover::before {
  display: inline;
}

/* Tables */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

table tr {
  border-bottom: solid var(--docs-border-width) var(--docs-border-color);
}

table th {
  font-weight: var(--docs-font-weight-semibold);
  text-align: left;
}

table td,
table th {
  padding: 0.75rem 1rem;
}

/* Code blocks */
pre {
  position: relative;
  background-color: var(--docs-color-neutral-100);
  font-family: var(--docs-font-mono);
  color: var(--docs-color-neutral-900);
  border-radius: var(--docs-border-radius);
  padding: 0;
  white-space: pre;
}

pre:not(:last-child) {
  margin-bottom: 1.5rem;
}

pre > code {
  display: block;
  background: none;
  border-radius: 0;
  hyphens: none;
  tab-size: 2;
  padding: 1rem;
  white-space: pre;
  overflow: auto;
}

pre .token.comment {
  color: var(--docs-color-neutral-500);
}

pre .token.prolog,
pre .token.doctype,
pre .token.cdata,
pre .token.operator,
pre .token.punctuation {
  color: var(--docs-color-neutral-700);
}

.namespace {
  opacity: 0.7;
}

pre .token.property,
pre .token.keyword,
pre .token.tag,
pre .token.url {
  color: var(--docs-color-blue-800);
}

pre .token.symbol,
pre .token.deleted {
  color: var(--docs-color-red-700);
}

pre .token.boolean,
pre .token.constant,
pre .token.selector,
pre .token.attr-name,
pre .token.string,
pre .token.char,
pre .token.builtin,
pre .token.inserted {
  color: var(--docs-color-emerald-700);
}

pre .token.atrule,
pre .token.attr-value,
pre .token.number,
pre .token.variable {
  color: var(--docs-color-violet-700);
}

pre .token.function,
pre .token.class-name,
pre .token.regex {
  color: var(--docs-color-orange-700);
}

pre .token.important {
  color: var(--docs-color-red-700);
}

pre .token.important,
pre .token.bold {
  font-weight: bold;
}

pre .token.italic {
  font-style: italic;
}

/* Copy code button */
.copy-code-button {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--docs-color-neutral-200);
  border-top-right-radius: var(--docs-border-radius);
  border-bottom-left-radius: var(--docs-border-radius);
  color: var(--docs-color-neutral-800);
  padding: 0.5rem 0.75rem;
  border: none;
  cursor: pointer;
  transition: 100ms all;
}

.docs-theme-dark .copy-code-button {
  background: var(--docs-color-neutral-300);
}

.copy-code-button:hover {
  background: var(--docs-color-primary-700);
  color: var(--docs-color-neutral-0);
}

.copy-code-button--copied {
  animation: pulse 0.75s;
  --pulse-color: var(--docs-color-primary-700);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-color);
  }
  70% {
    box-shadow: 0 0 0 0.5rem transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

/* Callouts */
.callout {
  background-color: var(--docs-color-neutral-100);
  border-left: solid 4px var(--docs-color-neutral-500);
  border-radius: var(--docs-border-radius);
  padding: 1.5rem;
}

.callout:not(:last-child) {
  margin-bottom: 1.5rem;
}

.callout > :first-child {
  margin-top: 0;
}

.callout > :last-child {
  margin-bottom: 0;
}

.callout--tip {
  background-color: var(--docs-color-primary-100);
  border-left-color: var(--docs-color-primary-500);
}

.callout--warning {
  background-color: var(--docs-color-warning-100);
  border-left-color: var(--docs-color-warning-500);
}

.callout--danger {
  background-color: var(--docs-color-danger-100);
  border-left-color: var(--docs-color-danger-500);
}

/* Details */
details {
  background-color: var(--docs-color-neutral-100);
  border-radius: var(--docs-border-radius);
  padding: 1rem;
  margin: 1.5rem 0;
}

details summary {
  border-radius: var(--docs-border-radius);
  padding: 1rem;
  margin: -1rem;
  cursor: pointer;
  user-select: none;
}

details summary span {
  padding-left: 0.5rem;
}

details[open] summary {
  margin-bottom: 1rem;
}

details :last-child {
  margin-bottom: 0;
}

details > :nth-child(2) {
  margin-top: 0;
}

details > :last-child {
  margin-bottom: 0;
}

/* Sidebar */
#docs-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--docs-sidebar-width);
  background-color: var(--docs-body-background-color);
  border-right: solid var(--docs-border-width) var(--docs-border-color);
  padding: 2.5rem 2rem 2rem 2rem;
  overflow: auto;
  transition: 250ms transform ease-in-out;
}

#docs-sidebar > header {
  margin-bottom: 1rem;
}

#docs-sidebar > header h1 {
  margin: 0;
}

#docs-sidebar > header img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.docs-menu-toggled #docs-sidebar {
  transform: translateX(calc(-1 * var(--docs-sidebar-width)));
}

@media screen and (max-width: 768px) {
  #docs-sidebar {
    transform: translateX(-100%);
  }

  .docs-menu-toggled #docs-sidebar {
    transform: translateX(0);
  }
}

/* Main content */
#docs-content {
  padding: 1.5rem var(--docs-content-padding);
  margin-left: var(--docs-sidebar-width);
  transition: 250ms margin ease-in-out, 250ms transform ease-in-out;
}

.docs-menu-toggled #docs-content {
  margin-left: 0;
}

#docs-content > article :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #docs-content {
    margin-left: 0;
    overflow: hidden;
  }

  .docs-menu-toggled #docs-content {
    transform: translateX(calc(var(--docs-sidebar-width)));
  }
}

#docs-content > article {
  max-width: var(--docs-content-max-width);
  margin: 0 auto;
}

/* Menu toggle */
#docs-menu-toggle {
  position: fixed;
  z-index: 10;
  top: 0.25rem;
  left: 0.25rem;
  height: auto;
  width: auto;
  color: var(--docs-color-neutral-900);
  border: none;
  border-radius: var(--docs-border-radius);
  background: var(--docs-body-background-color);
  padding: 0.5rem;
  cursor: pointer;
}

#docs-menu-toggle svg {
  width: 1.125rem;
  height: 1.125rem;
}
