@import 'light.css';
@import 'dark.css';

:root {
  --docs-font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --docs-font-serif: Georgia, serif;
  --docs-font-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
  --docs-body-background-color: var(--docs-color-neutral-0);
  --docs-body-color: var(--docs-color-neutral-1000);
  --docs-body-font: var(--docs-font-sans-serif);
  --docs-body-font-size: 16px;
  --docs-body-line-height: 1.5;
  --docs-font-weight-normal: 400;
  --docs-font-weight-semibold: 500;
  --docs-font-weight-bold: 700;
  --docs-heading-font: var(--docs-body-font);
  --docs-border-color: var(--docs-color-neutral-200);
  --docs-border-width: 1px;
  --docs-border-radius: 3px;
  --docs-content-max-width: 860px;
  --docs-focus-ring-offset: 1px;
  --docs-focus-ring: solid 3px var(--docs-color-primary-700);
  --docs-sidebar-width: 300px;
  --docs-sidebar-transition-speed: 250ms;
  --docs-content-padding: 2rem;
  --docs-content-vertical-spacing: 2rem;
}

@media screen and (max-width: 768px) {
  :root {
    --docs-content-padding: 1rem;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: var(--docs-focus-ring);
  outline-offset: var(--docs-focus-ring-offset);
}

::selection {
  background-color: var(--docs-color-primary-300);
  color: var(--docs-color-neutral-900);
}

html {
  height: 100%;
  box-sizing: border-box;
  line-height: var(--docs-body-line-height);
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font: var(--docs-body-font-size) var(--docs-body-font);
  font-weight: var(--docs-font-weight-normal);
  background-color: var(--docs-body-background-color);
  line-height: var(--docs-body-line-height);
  color: var(--docs-body-color);
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Common elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--docs-heading-font);
  font-weight: var(--docs-font-weight-semibold);
  margin: 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.875rem;
  border-bottom: solid var(--docs-border-width) var(--docs-border-color);
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  margin-block-end: 1.25em;
}

img {
  max-width: 100%;
  border-radius: var(--docs-border-radius);
}

.callout img,
details img {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

a {
  color: var(--docs-color-primary-700);
  text-decoration: none;
}

a:hover {
  color: var(--docs-color-primary-700);
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--docs-font-weight-bold);
}

code {
  font-family: var(--docs-font-mono);
  background-color: rgba(0 0 0 / 0.05);
  background-blend-mode: darken;
  border-radius: var(--docs-border-radius);
  padding: 0.125em 0.25em;
}

.docs-theme-dark code {
  background-color: rgba(255 255 255 / 0.05);
}

kbd {
  background: var(--docs-color-neutral-100);
  border: solid 1px var(--docs-color-neutral-200);
  box-shadow: inset 0 1px 0 0 var(--docs-color-neutral-0), inset 0 -1px 0 0 var(--docs-color-neutral-200);
  font-family: var(--docs-font-mono);
  border-radius: var(--docs-border-radius);
  color: var(--docs-color-neutral-700);
  padding: 0.125em 0.25em;
}

ins {
  background-color: var(--docs-color-green-200);
  color: var(--docs-color-green-900);
  border-radius: var(--docs-border-radius);
  text-decoration: none;
  padding: 0.125em 0.25em;
}

s {
  background-color: var(--docs-color-red-200);
  color: var(--docs-color-red-900);
  border-radius: var(--docs-border-radius);
  text-decoration: none;
  padding: 0.125em 0.25em;
}

mark {
  background-color: var(--docs-color-yellow-200);
  color: var(--docs-color-yellow-900);
  border-radius: var(--docs-border-radius);
  padding: 0.125em 0.25em;
}

hr {
  border: none;
  border-bottom: solid var(--docs-border-width) var(--docs-border-color);
  margin: calc(var(--docs-content-vertical-spacing) * 2) 0;
}

/* Blockquotes */
blockquote {
  position: relative;
  font-family: var(--docs-font-serif);
  font-size: 1.33rem;
  font-style: italic;
  color: var(--docs-color-neutral-700);
  background-color: var(--docs-color-neutral-100);
  border-radius: var(--docs-border-radius);
  border-left: solid 6px var(--docs-color-neutral-300);
  padding: 1.5rem;
  margin: 0 0 1.5rem 0;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

/* Lists */
ul,
ol {
  padding: 0;
  margin: 0 0 var(--docs-content-vertical-spacing) 1rem;
}

ul {
  list-style: disc;
}

li {
  padding: 0;
  margin: 0 0 0.25rem 0;
}

li ul,
li ol {
  margin-top: 0.25rem;
}

ul ul:last-child,
ul ol:last-child,
ol ul:last-child,
ol ol:last-child {
  margin-bottom: 0;
}

/* Anchor headings */
.anchor-heading {
  position: relative;
  color: inherit;
}

.anchor-heading:hover {
  text-decoration: none;
  color: inherit;
}

.anchor-heading::before {
  display: none;
  position: absolute;
  content: '#';
  left: -1em;
  color: var(--docs-color-primary-700);
  font-weight: var(--docs-font-weight-semibold);
}

.anchor-heading:hover::before {
  display: inline;
}

aside .anchor-heading:hover::before {
  display: none;
}

/* Tables */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  color: inherit;
  margin-bottom: var(--docs-content-vertical-spacing);
}

table tr {
  border-bottom: solid var(--docs-border-width) var(--docs-border-color);
}

table th {
  font-weight: var(--docs-font-weight-semibold);
  text-align: left;
}

table td,
table th {
  padding: 1rem 1rem;
}

/* Code blocks */
pre {
  position: relative;
  background-color: var(--docs-color-neutral-100);
  font-family: var(--docs-font-mono);
  color: var(--docs-color-neutral-900);
  border-radius: var(--docs-border-radius);
  padding: 1rem;
  white-space: pre;
}

pre:not(:last-child) {
  margin-bottom: var(--docs-content-vertical-spacing);
}

pre > code {
  display: block;
  background: none;
  border-radius: 0;
  hyphens: none;
  tab-size: 2;
  white-space: pre;
  padding: 1rem;
  margin: -1rem;
  overflow: auto;
}

pre .token.comment {
  color: var(--docs-color-neutral-500);
}

pre .token.prolog,
pre .token.doctype,
pre .token.cdata,
pre .token.operator,
pre .token.punctuation {
  color: var(--docs-color-neutral-700);
}

.namespace {
  opacity: 0.7;
}

pre .token.property,
pre .token.keyword,
pre .token.tag,
pre .token.url {
  color: var(--docs-color-blue-800);
}

pre .token.symbol,
pre .token.deleted {
  color: var(--docs-color-red-700);
}

pre .token.boolean,
pre .token.constant,
pre .token.selector,
pre .token.attr-name,
pre .token.string,
pre .token.char,
pre .token.builtin,
pre .token.inserted {
  color: var(--docs-color-emerald-700);
}

pre .token.atrule,
pre .token.attr-value,
pre .token.number,
pre .token.variable {
  color: var(--docs-color-violet-700);
}

pre .token.function,
pre .token.class-name,
pre .token.regex {
  color: var(--docs-color-orange-700);
}

pre .token.important {
  color: var(--docs-color-red-700);
}

pre .token.important,
pre .token.bold {
  font-weight: bold;
}

pre .token.italic {
  font-style: italic;
}

/* Copy code button */
.copy-code-button {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--docs-color-neutral-200);
  border-top-right-radius: var(--docs-border-radius);
  border-bottom-left-radius: var(--docs-border-radius);
  color: var(--docs-color-neutral-800);
  padding: 0.5rem 0.75rem;
  border: none;
  cursor: pointer;
  transition: 100ms all;
}

.docs-theme-dark .copy-code-button {
  background: var(--docs-color-neutral-300);
}

.copy-code-button:hover {
  background: var(--docs-color-primary-700);
  color: var(--docs-color-neutral-0);
}

.copy-code-button--copied {
  animation: pulse 0.75s;
  --pulse-color: var(--docs-color-primary-700);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-color);
  }
  70% {
    box-shadow: 0 0 0 0.5rem transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

/* Callouts */
.callout {
  position: relative;
  background-color: var(--docs-color-neutral-100);
  border-left: solid 6px var(--docs-color-neutral-500);
  border-radius: var(--docs-border-radius);
  color: var(--docs-color-neutral-800);
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  margin-bottom: var(--docs-content-vertical-spacing);
}

.callout > :first-child {
  margin-top: 0;
}

.callout > :last-child {
  margin-bottom: 0;
}

.callout--tip {
  background-color: var(--docs-color-primary-100);
  border-left-color: var(--docs-color-primary-500);
  color: var(--docs-color-primary-800);
}

.callout::before {
  content: '';
  position: absolute;
  top: calc(50% - 0.8rem);
  left: calc(-0.8rem - 3px);
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--docs-font-serif);
  font-weight: var(--docs-font-weight-bold);
  color: var(--docs-color-neutral-0);
  clip-path: circle(50% at 50% 50%);
}

.callout--tip::before {
  content: 'i';
  font-style: italic;
  background-color: var(--docs-color-primary-500);
}

.callout--warning {
  background-color: var(--docs-color-warning-100);
  border-left-color: var(--docs-color-warning-500);
}

.callout--warning::before {
  content: '!';
  background-color: var(--docs-color-warning-500);
}

.callout--danger {
  background-color: var(--docs-color-danger-100);
  border-left-color: var(--docs-color-danger-500);
  color: var(--docs-color-danger-800);
}

.callout--danger::before {
  content: '‼';
  background-color: var(--docs-color-danger-500);
}

.callout + .callout {
  margin-top: calc(-0.5 * var(--docs-content-vertical-spacing));
}

/* Aside */
aside {
  float: right;
  min-width: 300px;
  max-width: 50%;
  background: var(--docs-color-neutral-100);
  border-radius: var(--docs-border-radius);
  padding: 1rem;
  margin-left: 1rem;
}

aside > :first-child {
  margin-top: 0;
}

aside > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  aside {
    float: none;
    width: calc(100% + (var(--docs-content-padding) * 2));
    max-width: none;
    margin: var(--docs-content-vertical-spacing) calc(-1 * var(--docs-content-padding));
  }
}

/* Details */
details {
  background-color: var(--docs-color-neutral-100);
  border-radius: var(--docs-border-radius);
  padding: 1rem;
  margin: 0 0 var(--docs-content-vertical-spacing) 0;
}

details summary {
  font-weight: var(--docs-font-weight-semibold);
  border-radius: var(--docs-border-radius);
  padding: 1rem;
  margin: -1rem;
  cursor: pointer;
  user-select: none;
}

details summary span {
  padding-left: 0.5rem;
}

details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 1rem;
}

details[open] summary:focus-visible {
  border-radius: var(--docs-border-radius);
}

details > :last-child {
  margin-bottom: 0;
}

details > :nth-child(2) {
  margin-top: 0;
}

details + details {
  margin-top: calc(-1 * var(--docs-content-vertical-spacing) + (2 * var(--docs-border-width)));
}

/* Sidebar */
#docs-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--docs-sidebar-width);
  background-color: var(--docs-body-background-color);
  border-right: solid var(--docs-border-width) var(--docs-border-color);
  padding: 2.5rem 2rem 2rem 2rem;
  margin: 0;
  overflow: auto;
  transition: var(--docs-sidebar-transition-speed) transform ease-in-out;
  z-index: 1;
}

#docs-sidebar::-webkit-scrollbar {
  width: 4px;
}

#docs-sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
}

#docs-sidebar:hover::-webkit-scrollbar-thumb {
  background: var(--docs-color-neutral-300);
}

#docs-sidebar:hover::-webkit-scrollbar-track {
  background: var(--docs-color-neutral-100);
}

#docs-sidebar > header {
  margin-bottom: 1rem;
}

#docs-sidebar > header h1 {
  margin: 0;
}

#docs-sidebar nav li > p {
  font-weight: var(--docs-font-weight-semibold);
  border-bottom: solid var(--docs-border-width) var(--docs-border-color);
  margin: 1.5rem 0 0.25rem 0;
}

#docs-sidebar ul li a {
  padding: 0.2rem 0;
  display: block;
}

#docs-sidebar nav > ul,
#docs-sidebar nav > ul > li > ul {
  padding: 0;
  margin: 0;
}

#docs-sidebar nav > ul > li,
#docs-sidebar nav > ul > li > ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#docs-sidebar nav > ul > li > ul > li {
  margin-left: 0.5rem;
}

#docs-sidebar nav > ul > li > ul > li > ul > li {
  margin-left: 1rem;
}

#docs-sidebar > header img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.docs-menu-toggled #docs-sidebar {
  transform: translateX(calc(-1 * var(--docs-sidebar-width)));
}

@media screen and (max-width: 768px) {
  #docs-sidebar {
    transform: translateX(-100%);
  }

  .docs-menu-toggled #docs-sidebar {
    transform: translateX(0);
  }
}

/* Main content */
#docs-content {
  position: relative;
  padding: var(--docs-content-vertical-spacing) var(--docs-content-padding);
  margin-left: var(--docs-sidebar-width);
  transition: var(--docs-sidebar-transition-speed) margin ease-in-out,
    var(--docs-sidebar-transition-speed) transform ease-in-out;
}

.docs-menu-toggled #docs-content {
  margin-left: 0;
}

#docs-content > article > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #docs-content {
    margin-left: 0;
    overflow: hidden;
  }

  .docs-menu-toggled #docs-content {
    transform: translateX(calc(var(--docs-sidebar-width)));
  }
}

#docs-content > article {
  max-width: var(--docs-content-max-width);
  margin: 0 auto;
}

/* Cover blocks span the full width of the content section, breaking out of the container's default width. */
.cover {
  width: calc(100vw - var(--docs-sidebar-width));
  position: relative;
  left: calc(50% + var(--docs-sidebar-width) / 2);
  right: 50%;
  background: var(--docs-color-neutral-100);
  padding: var(--docs-content-vertical-spacing) var(--docs-content-padding);
  margin-left: -50vw;
  margin-right: -50vw;
}

.docs-menu-toggled .cover {
  width: 100vw;
  left: 50%;
}

.cover > :first-child {
  margin-top: 0;
}

.cover > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .cover {
    width: calc(100vw);
    left: calc(50%);
  }
}

/* Menu toggle */
#docs-menu-toggle {
  position: fixed;
  z-index: 10;
  top: 0.25rem;
  left: 0.25rem;
  height: auto;
  width: auto;
  color: var(--docs-color-neutral-900);
  border: none;
  border-radius: var(--docs-border-radius);
  background: var(--docs-body-background-color);
  padding: 0.5rem;
  cursor: pointer;
}

#docs-menu-toggle svg {
  width: 1.125rem;
  height: 1.125rem;
}
